/* Global CSS variables */
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 400;
}

dark-text {
  color: var(--dark-color);
}

small {
  color: var(--muted-color);
}

/* Header */
.hero {
  background-position: center;
  background-size: cover;
}
.title {
  color: #171f27;
  text-shadow: 1px 2px 3px #CCFBF1;
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

/* Nav */
summary[role="link"].contrast:is([aria-current],:hover,:active,:focus) {
  background-color: transparent;
  color: var(--contrast-hover);
}

/* Main */
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing-company);
    grid-template-columns: auto 25%;
  }
}

form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}

aside p {
  margin-bottom: var(--spacing-company);
  line-height: 1.25;
}
.right {
  margin-bottom: 0.25rem;
  float: right;
}

.max_width_40 {
  max-width: 40%;
}
.mt-0 {
  margin-top: 0px;
}
.bolts {
    color: #134E4A;
    margin-right: 20px;
    border-radius: 40px;
    outline: none;
    padding: 10px 16px;
    background-color: #CCFBF1;
    cursor: pointer;
    font-size: 18px;
}

/* mouse over link */
a:hover {
  color: rgb(56, 234, 247);
}
/*colour change in hovering menu item*/
.active, .bolts:hover {
  background-color: #ff63dd;
  color: rgb(183, 9, 252);
}
/*focus menu colour change*/
.active, .academics, .arts, .sports {
  background-color: #134E4A;
  color: #CCFBF1
}
.input {
  border-radius: 0.375rem;
}
.required:after {
    content:" *";
    color: red;
  }
